li{
    list-style: none;
}

/* .welcomeImage>img{
    height: 720px;
    width: 1255px;
} */

img[src="lap.jpeg"]{
    height: 720px;
    width: 1255px;
}

.footer{
    height: 80px;
    background-color: black;
    color: white;
}

.footer{
    font-size: 25px;
}