li{
    list-style: none;
}

/* .welcomeImage>img{
    height: 720px;
    width: 1255px;
} */

.navbar>nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
}


.welcomeImage>img{
    height: 720px;
    width: 1255px;
}

.skills{
    display: flex;
}

.footer{
    height: 80px;
    background-color: black;
    color: white;
}

.footer{
    font-size: 25px;
}